/ {
	aliases {
  			mock0 = &mock_sensor0;
			mock1 = &mock_sensor1;
			mock2 = &mock_sensor2;
  	};
    mock_sensors {
        #address-cells = <1>;
        #size-cells = <0>;

		mock_sensor0: mock-sensor@0 {
			compatible = "zephyr,mock-sensor";
			sample-period = <100>;
			reg = <0x0>;
			status = "okay";
		};

		mock_sensor1: mock-sensor@1 {
			compatible = "zephyr,mock-sensor";
			sample-period = <200>;
			reg = <0x1>;
		};

		mock_sensor2: mock-sensor@2 {
			compatible = "zephyr,mock-sensor";
			sample-period = <300>;
			reg = <0x2>;
		};
	};
};